<article{{ attributes.addClass('promo') }}>
  
  
  {% if content.field_image %}
    <div class="prom-image ">
      {{ content.field_image }}
    </div>
  {% endif %}

  <div class="container-fluid my-4 promo-header">
    <div class="row">
        <div class="col-md-6 promo-header-title my-5 my-md-0">
          <h1 class="text-align-center">{{ label }}</h1>
        </div>
        <div class="col-md-6 promo-header-icons">
          {% if content.field_incluye %}
            {{content.field_incluye}}
          {% endif %}
        </div>
    </div>
  </div>



  <div class="promocion-body">
    {{ content.body }}
  </div>

  <div class="promocion-cta">
    <a href="https://wa.me/573123170535" class="btn btn-success">
      Reservar por WhatsApp
    </a>
  </div>

</article>
