
<!-- MENU MAIN TEMPLATE ACTIVO -->

<nav class="container-fluid">
  <div class="row align-items-center py-3">
    
    {# LOGO #}
    <div class="col-3">
      <a href="/" class="navbar-brand">
        <img src="{{ directory }}/images/Logo-OV-Color.webp"
             alt="Viaja con Nataly"
             class="img-fluid">
      </a>
    </div>


    {# MENU #}
    <div class="col-9">
      <ul class="nav justify-content-end">
        {% for item in items %}

          {# ITEM CON HIJOS (DROPDOWN) #}
          {% if item.below %}
            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle {{ item.in_active_trail ? 'active' : '' }}"
                 href="{{ item.url }}"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                {{ item.title }}
              </a>

              <ul class="dropdown-menu">
                {% for child in item.below %}
                  <li>
                    <a class="dropdown-item {{ child.in_active_trail ? 'active' : '' }}"
                       href="{{ child.url }}">
                      {{ child.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>

            </li>

          {# ITEM NORMAL #}
          {% else %}
            <li class="nav-item">
              <a class="nav-link {{ item.in_active_trail ? 'active' : '' }}"
                 href="{{ item.url }}">
                {{ item.title }}
              </a>
            </li>
          {% endif %}

        {% endfor %}

      </ul>
    </div>

  </div>
</nav>
